%h1 Updates

%table
  %tr
    %th Time
    %th Type
    %th Timestamp
    %th Shows
    %th Episodes
    %th Status
    %th
  - @updates.each do |update|
    %tr
      %td= update.created_at.strftime("%d-%m-%Y %I:%M")
      %td= update.update_type
      %td= link_to update.timestamp, "http://www.thetvdb.com/api/Updates.php?time=#{update.timestamp}&type=all" if update.timestamp
      %td= update.series ? update.series.length : 0
      %td= update.episodes ? update.episodes.length : 0
      %td= update.status
      %td= link_to 'Show', update_path(update)