%h1 Update

%dl
  %dt Time
  %dd= @update.created_at.strftime("%d-%m-%Y %I:%M")

  %dt Type
  %dd= @update.update_type

  %dt Timestamp
  %dd= link_to @update.timestamp, "http://www.thetvdb.com/api/Updates.php?time=#{@update.timestamp}&type=all" if @update.timestamp

  %dt Shows
  %dd= @update.series ? update.episodes.length : 0

  %dt Episodes
  %dd= @update.episodes ? @update.episodes.length : 0

  %dt Status
  %dd= @update.status

%table
  %tr
    %th Name
    %th type
    %th Status
    %th Message
  - @update.results.each do |key, result|
    %tr
      %td
        - if result['show_id'].present?
          = Show.find(result['show_id']).name
        - elsif result['episode_id'].present?
          - episode = Episode.find(result['episode_id'])
          = "#{episode.show.name} >> #{episode.name}"
        - else
          TVDB ID:
          = key
      %td= result['type']
      %td= result['status']
      %td= result['message']
